# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints

# IDEs & editors
.vscode/
.idea/

# macOS / Windows system files
.DS_Store
Thumbs.db
